{% extends 'header.html' %} {% block title %}Brew-sults{% endblock %} {% block
content %}
<div class="container d-flex justify-content-center" id="brew_head">
  <h1>Brew-sults</h1>
</div>
<div class="container d-flex justify-content-center" id="brew_table">
  <table class="table table-responsive-sm table-dark table-hover text-nowrap">
    <thead>
      <tr>
        <!-- prettier-ignore -->
        {% for header in headers %} {% if not header in ['Id','Longitude','Latitude','Address 2','Address 3','Phone','Address 1','City','State','State Province','Country','Street','Postal Code'] %}
        <th scope="col">{{ header }}</th>
        {% endif %} {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for brewery in data %}
      <tr>
        {% for key,value in brewery.items() %} {% if not key in
        ['id','longitude','latitude','address_2','address_3','phone','address_1','city','state','state_province','country','postal_code','street']
        %} {% if key == 'website_url' %}
        <td><a href="{{ value }}">🍺</a></td>
        {% else %} {% if key == 'address' %}
        <td>
          <a href="https://www.google.com/maps/search/?api=1&query={{value}}"
            >🗺️</a
          >
        </td>
        {% else %}
        <td>{{ value }}</td>
        {% endif %}{% endif %}{% endif %}{% endfor %}{%endfor%}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
