{% extends 'header.html' %} {% block title %}Brewery Lookup{% endblock %} {%
block content %}
<div class="container d-flex justify-content-center" id="brew_head">
  <h1>Sean's Brewery Search</h1>
</div>
<div class="container d-flex justify-content-center" id="brew_table">
  <table class="table table-responsive-lg table-dark table-hover">
    <thead>
      <tr>
        {% for header in headers %} {% if header != 'Id' %}
        <th scope="col">{{ header }}</th>
        {%endif%}{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for brewery in data %}
      <tr>
        {% for key,value in brewery.items() %} {% if key != 'id' %}
        <td>{{ value }}</td>
        {% endif %}{% endfor %}{%endfor%}
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
