{% extends 'header.html' %}{% block title %}Search-a-Brew{% endblock %}{% block
content %}
<div class="container d-flex justify-content-center">
  <h1>Search A Brew</h1>
</div>
<div class="container d-flex justify-content-center">
  <form method="POST">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="nameSearch">Brewery Name</label>
          <input
            type="text"
            class="form-control"
            id="brewNameInput"
            name="brewName"
            aria-describedby="brewName"
            placeholder="Search Brewery Name"
          />
        </div>
      </div>
      <div class="col">
        <label for="citySearch">City</label>
        <input
          type="text"
          class="form-control"
          id="cityNameInput"
          name="cityName"
          placeholder="Search/Filter By City"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="stateSearch">State</label>
          <input
            type="text"
            class="form-control"
            id="stateNameInput"
            name="stateName"
            placeholder="Search/Filter By State"
          />
        </div>
      </div>
    </div>
    <div class="container d-flex justify-content-center">
      <button
        style="margin-top: 40px"
        type="submit"
        class="btn btn-primary"
      ></button>
    </div>
  </form>
</div>
<div class="container d-flex justify-content-center">
  This is a simple brewery search site. It legit doesn't have anything fucking
  fancy going on behind the scenes. You want to search a state by typing its
  abbreviation? Good fucking luck. Your next question is did the guy making this
  site have any fucking clue what he was doing? The answer is no. He still has
  none. AI helped animate that little submit button.
</div>
{% endblock %}
