#brew_table {
  margin-top: 20px;
}

#brew_head {
  margin-bottom: auto;
  margin-top: 20px;
}

body {
  background: linear-gradient(135deg, #1e1e2f, #2e2e3e);
  color: #ffffff !important;
}

h1 {
  color: white !important;
  margin-top: 10px !important;
}

label {
  margin-bottom: 5px;
}
