<!-- Footer-->
<!-- <style>
  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #212121;
    overflow: auto;
    padding: 10px 10px 0;
    clear: both;
  }
</style> -->
<footer
  style="
    position: absolute;
    bottom: 0;
    background: #212121;
    width: 100%;
    margin-bottom: 0;
  "
  class="d-flex flex-wrap justify-content-between align-items-center"
>
  <p style="margin-bottom: 0" class="col-md-4 mb-0 text-muted py-4">
    © 2024 Sean P
  </p>

  <!-- <a
    href="/"
    class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <svg class="bi me-2" width="40" height="32">
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a> -->

  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item">
      <a href="{{ url_for('home') }}" class="nav-link px-2 text-muted">Home</a>
    </li>
    <!-- <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Features</a>
    </li> -->
    <!-- <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">Pricing</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link px-2 text-muted">FAQs</a>
    </li> -->
    <li class="nav-item">
      <a
        href="https://seanrvacode.github.io"
        target="_blank"
        rel="noopener noreferrer"
        class="nav-link px-2 text-muted"
        >About</a
      >
    </li>
  </ul>
</footer>
