{% from "bootstrap5/form.html" import render_form %}{% extends 'base.html' %}{%
block title %}Register{% endblock %}{%block content%}
<!-- Page Header -->
<header class="masthead">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading text-center">
          <h1 class="display-4">Register</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<main class="mt-4">
  <div class="container">
    <!-- Flash message here for errors  -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ render_form(form, novalidate=True,button_map={"submit":"primary"})}}
    </div>
  </div>
</main>
{% endblock %}
