<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %} {{ bootstrap.load_css() }}
    <!-- Link to style sheet here  -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/styles.css')}}"
    />
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="container mt-4">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div
        class="alert-container position-fixed top-0 start-50 translate-middle-x"
        style="z-index: 1050"
      >
        {% for category, message in messages %}
        <div
          class="alert alert-{{ category }} alert-dismissible fade show shadow-sm rounded"
          role="alert"
        >
          {{ message }}
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
          ></button>
        </div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %}
    </div>
    {% block content%}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
