{% extends 'base.html' %}{% from 'bootstrap5/table.html' import render_table
%}{% block title %}Cafes List{% endblock %} {%block content %}
<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="all-cafe-heading">All Cafes</h1>
        <table class="table table-dark table-striped table-hover table-active">
          <tr>
            <thead>
              {% for row in headers %} {% if row != "id" %} {% if row !=
              "map_url" %}
              <th>{{ row.title().replace("_"," ") }}</th>
              {% endif %} {% endif %} {% endfor %}
              <th>Edit</th>
            </thead>
          </tr>
          <tbody>
            {% for cafe in cafes %}
            <tr>
              {% for row in cafe[1:] %}{% if cafe.index(row) == 1 %}
              <td>
                <a
                  href="{{ cafe[2]  }}"
                  target="_blank"
                  rel="noopener noreferrer"
                  >{{ row }}</a
                >
              </td>
              {% elif cafe.index(row) == 3 %}
              <td>
                <a href="{{ row }}" target="_blank" rel="noopener noreferrer">
                  <img
                    class="cafe-image"
                    src="{{ row }}"
                    target="_blank"
                    rel="noopener noreferrer"
                /></a>
              </td>
              {% elif row == true %}
              <td>{{ "✅" }}</td>
              {% elif row == false %}
              <td>{{ "🚫" }}</td>
              {% elif cafe.index(row) == 2 %} {% else %}
              <td>{{ row }}</td>

              {% endif %}{% endfor %}
              <td>
                <a
                  href="{{ url_for('edit_cafe',cafe_id=cafe[0]) }}"
                  class="btn btn-warning btn-sm"
                  >Edit</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <p>
          <a href="{{ url_for('home')}}">Return to Frontpage</a>
          <a href="{{ url_for('add_cafe')}}">Add a Cafe</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
