{% extends 'base.html' %}{% block title %}Edit Cafe{% endblock %} {% block
content %}
<div class="container">
  <h1>Edit Cafe</h1>
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label(class="form-label") }} {{
      form.name(class="form-control")}}
    </div>
    <div class="form-group">
      {{ form.map_url.label(class="form-label") }} {{
      form.map_url(class="form-control")}}
    </div>
    <div class="form-group">
      {{ form.img_url.label(class="form-label") }} {{
      form.img_url(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.location.label(class="form-label")}}
      {{form.location(class="form-control")}}
    </div>
    <br />
    <div class="form-check">
      {{form.has_toilet(class="form-check-input")}}
      {{form.has_toilet.label(class="form-check-label")}}
    </div>
    <div class="form-check">
      {{form.has_wifi(class="form-check-input")}}
      {{form.has_wifi.label(class="form-check-label")}}
    </div>
    <div class="form-check">
      {{form.has_sockets(class="form-check-input")}}
      {{form.has_sockets.label(class="form-check-label")}}
    </div>
    <div class="form-check">
      {{form.can_take_calls(class="form-check-input")}}
      {{form.can_take_calls.label(class="form-check-label")}}
    </div>
    <br />
    <div class="form-group">
      {{form.seats.label(class="form-label")}}
      {{form.seats(class="form-control")}}
    </div>
    <div class="form-group">
      {{form.coffee_price.label(class="form-label")}}
      {{form.coffee_price(class="form-control")}}
    </div>
    <br />
    <button type="submit" class="btn btn-primary">{{form.submit.label}}</button>
    <a
      href="{{ url_for('delete_entry',cafe_id=cafe_id) }}"
      class="btn btn-warning btn-primary"
      >Delete Cafe</a
    >
    <a href="{{ url_for('cafes_list') }}" class="btn btn-secondary">Cancel</a>
  </form>
</div>

{% endblock %}
