{% extends 'base.html' %}{% block title %}Coffee and Wifi{% endblock %}{%block
content%}
<div class="jumbotron text-center">
  <div class="container">
    <h1 class="display-4">🍵 Coffee & Wifi 🛜</h1>
    <p class="lead space-above">
      Want to work in a cafe, but need power and wifi? 🤓
    </p>
    <hr class="my-4" />
    <p>YOU HAVE FOUND THE RIGHT PLACE!</p>
    <a
      class="btn bn-warning btn-lg custom-btn"
      href="{{url_for('cafes_list')}}"
      role="button"
      >Show Me!</a
    ><a
      class="btn bn-warning btn-lg custom-btn"
      href="{{ url_for('add_cafe') }}"
      role="button"
      >Add Cafe</a
    >
  </div>
</div>
{% endblock %}
